/*
    This file color use frontend
    Create date( dd-mm-yy ) : 14/09/2022
*/

/* header */

/* login, logout, change-password */
$f_lbl_color: rgb(247, 178, 160);
$f_btn_color: rgb(247, 247, 247);
$f_btn_dis_color: #666666;
$f_error_color: rgb(253, 21, 21);
$f_box_shadow_color: #888888;
$f_bg_login_color: #6ee47e;
$f_bg_logout_color: #f1aa9d;
$f_bg_change_pass_color: #cdf19d;
$f_bg_disabled_color: #cccccc;

/* member */
$mem_color: rgb(125, 138, 255);
$mem_color_hover: #eeb987;

/* slider - owl-carousel */
$owl_nav_btn_color: #141414;
$owl_nav_btn_bg_color: rgb(206, 197, 197);

/* footer */
$foo_social_link_color_hover: #b6f59d;
$foo_color: rgb(247, 241, 241);
$foo_bg_color: #413b77;
