/*
    This file color use frontend
    Create date( dd-mm-yy ) : 14/09/2022
*/

/* header */
$head_bg_color: rgb(255, 255, 255);

/* login, logout, change-password */
$f_lbl_color: rgb(247, 178, 160);
$f_btn_color: rgb(247, 247, 247);
$f_btn_dis_color: #666666;
$f_error_color: rgb(253, 21, 21);
$f_box_shadow_color: #888888;
$f_bg_login_color: #6ee47e;
$f_bg_logout_color: #f1aa9d;
$f_bg_change_pass_color: #cdf19d;
$f_bg_disabled_color: #cccccc;

/* member */
$mem_color: rgb(125, 138, 255);
$mem_color_hover: #eeb987;
$mem_even_color: rgb(226, 229, 231);
$mem_title_color: rgb(146, 38, 43);

/* slider - owl-carousel */
$owl_nav_btn_color: #141414;
$owl_nav_btn_bg_color: rgb(206, 197, 197);
$owl_sli_multi_title_color_hover: rgb(235, 104, 104);
$owl_sli_multi_read_more_color_hover: rgb(245, 162, 55);
$owl_slider_multi_paginate_color: rgb(93, 191, 236);

/* template */
$temp_articles_bg_color: rgb(250, 248, 248);

/* single */
$sing_head_color: rgb(195, 197, 199);
$sing_title_color: rgb(45, 164, 243);
$sing_relate_title_color: rgb(243, 118, 45);
$sing_relate_color: rgb(49, 148, 80);
$sing_relate_color_hover: rgb(243, 157, 239);
$sing_archive_title_color: rgb(245, 153, 125);
$sing_archive_title_color_hover: rgb(245, 125, 151);
$sing_latest_title_color: rgb(248, 125, 146);

/* footer */
$foo_social_link_color_hover: #b6f59d;
$foo_color: rgb(247, 241, 241);
$foo_bg_color: #413b77;

$home_title_color: rgb(175,170,170);