/*
  ========================================================  
 -------------------------- HEADER ------------------------
 ======================================================== 
*/
#headers{
  @include Respond(md){
    display: none;
  }
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: $head_bg_color;

  &-logo{
    display: flex;
    margin-bottom: 10px;
    div{
      padding-top: 1rem;
      font-size: 1.5rem;
      color: #2E3094;
      font-weight: bold;
      text-shadow: 0.6rem 0.6rem 0.37rem #999;
    }
    label{
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
  
  .header-logo-img{
    width: 75px;
  }

  .header-search{
    float: right;
    margin: 2rem;
    @include Respond(md){
      float: right;
      margin: 1.5rem;
      width: 50%;
    }
  }
}

#header-mobile{
  background-color: $head_bg_color;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100;

  @include Respond(lg){
    display: none;
  }
  @include Respond(xl){
    display: none;
  }
  @include Respond(md){
    display: block;
  }

  &-logo{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    img{
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      width: 50px;
      height: 50px;
    }
    div{
      margin-top: 0.2rem;
      color: #2E3094;
      font-weight: bold;
      text-shadow: 0.6rem 0.6rem 0.37rem #999;
    }
    @include Respond(md){
      h4, h5{
        font-size: 10px;
        text-align: center;
      }
    }
  }
}