@import './scss/color-style.scss';
/*
    This file use frontend
    Create date( dd-mm-yy ) : 12/09/2022
    page, template,..
*/

/*
 ========================================================  
 ----------------------- FORM ---------------------
 ======================================================== 
 */
.title {
  &-row{
    padding-top: 15px;
    h2{
        font-size: 30px;
        font-weight: bold;
    }
  }
  &-cell{
    padding-top: 15px;
    label {
      font-size: 18px;
      font-weight: bold;
      color: $f_lbl_color;
      padding: auto;
      text-align: left;
    }
    span{
        font-size: 20px;
        color: gray;
    }
  }  
}

.type{
    width: 50%;
    height: 40px;
    border-radius:2px;
    box-shadow: 1px 2px $f_box_shadow_color;
    border: 1px lavender solid;
  }
  .text-cell {
    .type-text { @extend .type;}
  }
  .text-cell {
    .type-number { @extend .type; }
  }
  .text-cell {
    .type-phone { @extend .type; }
  }
  .text-cell {
    .type-email { @extend .type; }
  }
  .text-cell {
    .type-number-dot { @extend .type; }
  }
/* message*/
.error {
  font-size: 15px;
  color: $f_error_color;
  margin-left: 10px;
  ::after {
    content: "!";
  }
}  

/* login form - change password */
.btn {
  &-type {
  font-size: 18px;
  padding: 7px;
  border-radius: 3px;
  border: #fff solid 1px;
  }
  &-login{
    @extend .btn-type;
    background: $f_bg_login_color;   
    margin-left: 70%;
    a{
      color: $f_btn_color; 
      text-decoration: none;
    }
  }
  &-logout{
    @extend .btn-type; 
    background: $f_bg_logout_color;  
    margin-left: 90%; 
    a{
      color: $f_btn_color; 
      text-decoration: none;
    }
  }
  &-change-pass{
    @extend .btn-type; 
    background: $f_bg_change_pass_color;   
    margin-left: 90%; 
    a{
      color: $f_btn_color;
      text-decoration: none;
    }
  }
}

.lbl{
  &-login{
    color: #337ab7;
    font-size: 30px;
    text-align: center;
  }
  &-form{
    color: $f_lbl_color;
    font-size: 20px;
  }
} 

.login-form{
  border: rgba(158, 151, 151, 0.89) solid 2px;
  border-radius: 2px;
  margin: 30px auto;
  padding:10px;
  float: left;
  box-shadow: 5px 10px $f_box_shadow_color;
}

/* button disabled */
button:disabled,
.btn-disabled{
  border: 1px solid #999999;
  background-color: $f_bg_disabled_color;
  a {
    color: $f_btn_dis_color;
    text-decoration: none;
  }
}

/* member */
.member-group {
  margin-top: 15px;
  a {
    font-size: 20px;
    color: $mem_color;
    padding-left: 10px;
  }
  a:hover {
    color: $mem_color_hover;
    text-decoration: none;
  }
}
/*
 ========================================================  
 -------------------- INDEX - HOME ---------------------
 ======================================================== 
*/
/* img - type */
.img-type{  
  image-rendering: pixelated;
  filter: drop-shadow(0 0 5px rgb(225, 225, 238));
  transition: all 1s ease; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  vertical-align: middle;
}
.img{
  @extend .img-type;
  height: 200px;
  width: 80%;
  border-radius: 0.2rem;
  &:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
  }
}

/* slider - image - owl-carousel */
.carousel{
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 10px;
}
.owl-carousel .nav-button {
  height: 20px;
  width: 20px;
  padding: 1px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
  color: $owl_nav_btn_color;
  background-color: $owl_nav_btn_bg_color;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
/*owl slider*/
.owl-carousel {
  .sli-left{left: -35px;}
  .sli-left:hover{
    background-position: 0px -53px;
  }
  .sli-right{right: -35px;}
  .sli-right:hover{
    background-position: -24px -53px;
  }
}
/*owl news*/
.owl-carousel {
  .news-left{left: -35px;}
  .news-left:hover{
    background-position: 0px -53px;
  }
  .news-right{right: -35px;}
  .news-right:hover{
    background-position: -24px -53px;
  }
}
/*owl articles*/
.owl-carousel {
  .art-left{left: -35px;}
  .art-left:hover{
    background-position: 0px -53px;
  }
  .art-right{right: -35px;}
  .art-right:hover{
    background-position: -24px -53px;
  }
}


/* multi - slider */
.multi-item{
  margin: 0.5rem 1rem 1rem 1rem;
  opacity: 0.7;
  transition-duration: 0.8s;
  border-radius: 0.5rem;
  &::after, &::before{
    box-sizing: border-box;
  }
}

.slider-multi{
  &-head{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 50%, rgba(156, 156, 156, 0.568) 95%);
    border-radius: 0.3rem;
    font-size: 2.5rem;
    h1{
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      font-weight: bold;
      padding: 1rem 1.5rem;
      text-shadow: 2px 2px 5px #797878;
    }
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  &-item{
    float: right;
  }
  &-img{
    padding: 0.3rem 1rem 0.5rem;
  }
  &-title{
    padding-bottom: 1rem;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    a:hover{
      color: $owl_sli_multi_title_color_hover;
      text-decoration: none;
    }
  }
  &-content{
    text-align: center;
    font-size: 18px;
  }
  &-read-more{
    text-align: right;
    a{
      text-decoration: none;
    }
    a:hover{
      color: $owl_sli_multi_read_more_color_hover;
    }
  }
}

.container_skitter {
  width:1132px;
  height:357px;
}
.skitters .image {
  width:1132px;
  height:357px;
}
.image-skitter{
  width: 1132px;
  height: 357px;
}
/*
  ========================================================  
 -------------------------- SINGLE ------------------------
 ======================================================== 
*/
.single{
  &-head{
    text-align: right;
    color: $sing_head_color;
    font-size: 16px;
  }
  &-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $sing_title_color;
    margin-bottom: 10px;
  }
  &-content{
    font-size: 24px;
    text-align: center;
    padding: 14px;
    margin: 14px;
    h2 {
      font-size: 25px;
      font-weight: bold;
    }
    h3{
      font-size: 25px;
      font-weight: bold;
    }
  }
  &-relate-title{
    font-size: 20px;
    font-weight: bold;
    color: $sing_relate_title_color;
  }
  &-relate-item{
    font-size: 18px;
    a {
      text-decoration: none;
      color: $sing_relate_color;
    }
    a:hover{
      color: $sing_relate_color_hover;
    }
  }
}
.single-archive{
  &-list{
    border-radius: 0.3rem;
    box-shadow: rgba(61, 59, 59, 0.35) 0px 5px 5px;
    margin-bottom: 2rem;
  }
  &-title{
    padding: 10px;
    border-radius: 0.3rem 0.3rem 0 0;
    border-bottom: 2px #e4e2e2 solid;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.226) 50%, rgba(156, 156, 156, 0.568) 95%);
    h2{
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    h2:hover{
      color: $sing_archive_title_color_hover;
    }
  }
  &-title-child{
    padding: 10px;
    h5{
      font-size: 20px;
      font-weight: 100;
      color: $sing_archive_title_color;
      margin-bottom: 4px;
    }
  }
  &-item{
    padding-bottom: 1rem;
    border-bottom: dotted 1px #999;
    transition-duration: 1s;
    a{
      text-align: center;
      text-decoration: none;
      padding: 20px;
      margin-top: 3px;
      font-size: 16px;
    }
  }
}

/*
  ========================================================  
 -------------------------- TEMPLATE ------------------------
 ======================================================== 
*/
.temp-articles-bg{
  background-color: $temp_articles_bg_color;
}

/*
  ========================================================  
 -------------------------- FOOTER ------------------------
 ======================================================== 
*/
/* social link */
.social-link{
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  &:hover{
    color: $foo_social_link_color_hover;
  }
}

.footer{
  background-color: $foo_bg_color;
  color: $foo_color;
}

/*
  ========================================================  
 -------------------------- SPECIAL ------------------------
 ======================================================== 
*/
.hr3{
  margin-bottom: 10px;
  content: "";
  height: 5px;
  width: 100%;
  background: #0870b7;
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,transparent),color-stop(50%,#0870b7),color-stop(100%,#0870b7));
  background: -webkit-linear-gradient(left,transparent 0%,#0870b7 50%,transparent 100%);
  background: -moz-linear-gradient(left,transparent 0%,#0870b7 50%,transparent 100%);
  background: -ms-linear-gradient(left,transparent 0%,#0870b7 50%,transparent 100%);
  background: -o-linear-gradient(left,transparent 0%,#0870b7 50%,transparent 100%);
  background: linear-gradient(left,transparent 0%,#0870b7 50%,transparent 100%);
}

#load-more{
  margin-top: 2rem;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
}

