/*
    This file use frontend
    Create date( dd-mm-yy ) : 10/08/2022
*/
$color_label: rgb(247, 178, 160);


/*
    use page, template,..
*/
.title-row{
    padding-top: 15px;
    h2{
        font-size: 30px;
        font-weight: bold;
    }
}
.title-cell{
    padding-top: 15px;
    label {
      font-size: 18px;
      font-weight: bold;
      color: $color_label;
      padding: auto;
      text-align: left;
    }
    span{
        font-size: 20px;
        color: gray;
    }
}
.type{
    width: 50%;
    height: 40px;
    border-radius:2px;
    box-shadow: 1px 2px #888888;
    border: 1px lavender solid;
  }
  .text-cell {
    .type-text { @extend .type;}
  }
  .text-cell {
    .type-number { @extend .type; }
  }
  .text-cell {
    .type-phone { @extend .type; }
  }
  .text-cell {
    .type-email { @extend .type; }
  }
  .text-cell {
    .type-number-dot { @extend .type; }
  }
/* message*/
.error {
  font-size: 15px;
  color: red;
  margin-left: 10px;
  ::after {
    content: "!";
  }
}  

.member-group {
  margin-top: 15px;
  a {
    font-size: 20px;
    color: rgb(60, 78, 245);
    padding-left: 10px;
  }
}
/* login form */
.btn-login{  
  font-size: 18px;
  background: #6ee47e;  
  padding: 7px;  
  margin-left: 70%; 
  border-radius: 2px;
  border: #fff solid 1px;
  a{
    color: #fff; 
  }
} 
.btn-logout{
  font-size: 18px;  
  background: #f1aa9d;  
  padding: 7px;  
  margin-left: 90%; 
  border-radius: 3px;
  border: #fff solid 1px;
  a{
    color: #fff;
  }
}
.lbl-login{
  color: #337ab7;
  font-size: 30px;
  text-align: center;
} 
.lbl-password{
  color: $color_label;
  font-size: 20px;
}
.lbl-username{
  color: $color_label;
  font-size: 20px;
}
.login-form{
  border: rgba(158, 151, 151, 0.89) solid 2px;
  border-radius: 2px;
  margin: 30px auto;
  padding:10px;
  float: left;
}

