/*
    This file use frontend
    Create date( dd-mm-yy ) : 10/08/2022
*/
$color_label: rgb(160, 160, 247);


/*
    use page,..
*/
.title-cell{
    padding-top: 15px;
    label {
      font-size: 15px;
      font-weight: bold;
      color: $color_label;
      padding: auto;
    }
}