$color_black_list: rgb(27, 25, 25);
$color_label : rgb(238, 133, 133);

/*main column*/
.column-contact { width: 10%;}
.column-address {width: 10%;}
.column-phone {width: 10%;}
.column-black_list {width: 10%;}
.column-member_group { width: 10%;}
.column-district {width: 10%;}

/* two column*/
.meta-row-two-column {
  height: 60px;
  margin: 10px 0px 20px;}
  .meta-row-two-column .col {
    float: left;
    width: 33.2%; }
    .meta-row-two-column .col .title-cell {
      height: 22px; }
    .meta-row-two-column .col .text-cell {
      width: 100%; }

/* three column */
.meta-row-three-column {
  height: 60px;
  margin: 10px 10px 20px; }
  .meta-row-three-column .col {
    float: left;
    width: 25.6%; }
    .meta-row-three-column .col .title-cell {
      height: 22px; }
    .meta-row-three-column .col .text-cell {
      width: 100%; }

/* edit item cell*/
.title-cell{
  padding-top: 15px;
  label {
    font-size: 15px;
    font-weight: bold;
    color: $color_label;
    padding: auto;
  }
}
.type{
  width: 50%;
  height: 40px;
  border-radius:2px;
  box-shadow: 1px 2px #888888;
  border: 1px lavender solid;
}
.text-cell {
  .type-text { @extend .type;}
}
.text-cell {
  .type-number { @extend .type; }
}
.text-cell {
  .type-phone { @extend .type; }
}
.text-cell {
  .type-email { @extend .type; }
}
.text-cell {
  .type-number-dot { @extend .type; }
}
/*checkbox*/
.checkbox-label {
  font-size: 15px;
  font-weight: bold;
  color: $color_label;
  padding: auto;
}
.form-check-input {
  width: 80%;
  box-shadow: 1px 2px #888888;
  border: 1px lavender solid;
}
.blacklist {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color_black_list;
}

/*metabox header*/
.postbox-header{
  .hndle{
    font-size: 20px;
    font-weight: bold;
    color: burlywood;
  }
}

/* message*/
.error {
  font-size: 15px;
  color: red;
  margin-left: 10px;
  ::after {
    content: "!";
  }
}
