.admin-btn-space {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 3rem;
}

.btn-delete {
    background-color: #9c6565 !important;
    color: white !important;
    border-radius: 0.2rem !important;
    margin-top: 1.3rem !important;
    border: 0rem !important;
    &:hover {
        background-color: #890707 !important;
    }
}

.active_style {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 128, 0, 1);
    border-radius: 30rem;
    margin: 2px;
}

.inactive_style {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 30rem;
    margin: 2px;
}

.button-row {
    text-align: right;
    width: 90%;
    margin-top: 2rem;
}

.admin-button {
    padding: 1rem 0.5rem;
    border: 0.1rem solid #666;
    margin: 2rem;
}
