@import './scss/admin-color.scss';;
/*
  This file use admin
  Create date (dd-mm-yy): 10/08/2022
*/


/*
  use news
*/
/*table news column*/
.column-content { width: 30%;}
.column-category {width: 10%;}
.column-create_by {width: 10%;}
.column-email {width: 10%;}
.column-img {width: 10%; height: 60px;}
/* edit item cell*/
.title-cell{
    padding-top: 15px;
    label {
        font-size: 15px;
        font-weight: bold;
        color: $lbl_color;
        padding: auto;
    }
}
.type{
    width: 50%;
    height: 40px;
    border-radius:2px;
    box-shadow: 1px 2px #888888;
    border: 1px lavender solid;
}
.text-cell {
    .type-text { @extend .type;}
}
.text-cell {
    .type-number { @extend .type; }
}
.text-cell {
    .type-phone { @extend .type; }
}
.text-cell {
    .type-email { @extend .type; }
}
.text-cell {
    .type-number-dot { @extend .type; }
}

/* two column*/
.meta-row-two-column {
  height: 60px;
  margin: 10px 0px 20px; }

.meta-row-two-column .col {
  float: left;
  width: 33.2%; }

.meta-row-two-column .col .title-cell {
  height: 22px; }

.meta-row-two-column .col .text-cell {
  width: 100%; }
  
/* message*/
.error {
    font-size: 15px;
    color: $lbl_error_color;
    margin-left: 10px; }
    .error ::after {
        content: "!"; }

/* member-category tbl*/
.category_list {
    border: 1px solid;
    margin: 5px;
    border-radius: 2px;
    li {
      border-bottom: 1px solid;
      line-height: 30px;
      padding: 0px;
      margin: 0px;
      height: 35px;
    }
    li:last-child {
      border-bottom: 0px;
    }
    li:first-child {
      height: 50px;
      background-color: peachpuff;
      color: black;
      line-height: 50px;
      font-size: 15px;
      font-weight: bold;
    }
    li:nth-child(even){ //row 2,4,6..
      background-color: white;
      display: block;
    }
    li div {
      float: left;
      text-align: center;
      height: 30px;
    }
    li div:nth-child(1){
      width: 25%;
    }
    li div:nth-child(2){
      width: 50%;
    }
    li div:nth-child(3){
      width: 25%;
    }
    li div a{
      text-decoration: none;
      font-weight: bold;
    }
}       

/* image */
.show-img {
  width: 250px;
  height: 180px;
  border-radius: 2px;
  border: 1px rgb(139, 139, 145) solid;
  image-rendering: pixelated;
  filter: drop-shadow(0 0 4px rgb(197, 197, 235));
  background-repeat: no-repeat;
}
/* check-box */
.checkbox-label {
  font-size: 15px;
  font-weight: bold;
  color: $lbl_color;
  padding: auto; }
.show-home{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $lbl_color;
}