/*
    This file color use frontend
    Create date( dd-mm-yy ) : 14/09/2022
*/
/* header */
/* login, logout, change-password */
/* member */
/* slider - owl-carousel */
/* template */
/* single */
/* footer */
/*
    This file use frontend
    Create date( dd-mm-yy ) : 12/09/2022
    Last update( dd-mm-yy ) : 22/11/2022
    page, template,..
*/
/*
 ========================================================  
 -------------------- INDEX - HOME ---------------------
 ======================================================== 
*/
.home-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #afaaaa;
  padding-top: 2rem; }

/*
 ========================================================  
 ------------------------ IMAGE ------------------------
 ======================================================== 
*/
.img-type, .img, .single-latest-image {
  image-rendering: pixelated;
  filter: drop-shadow(0 0 5px #e1e1ee);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  vertical-align: middle; }

.img {
  height: 200px;
  width: 80%;
  border-radius: 0.2rem; }
  .img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1); }

/*
  ========================================================  
 -------------------------- SINGLE ------------------------
 ======================================================== 
*/
.single {
  /* relate */
  /* latest */ }
  @media (min-width: 1320px) {
    .single {
      margin-top: 2rem; } }
  @media (max-width: 992px) {
    .single {
      margin-top: 8rem; } }
  .single-head {
    text-align: right;
    color: #c3c5c7;
    font-size: 16px; }
  .single-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #2da4f3;
    margin-bottom: 10px; }
  .single-content {
    font-size: 18px;
    padding: 1.5rem 2rem;
    text-indent: 2rem; }
    .single-content h1 {
      font-size: 26px;
      font-weight: bold; }
    .single-content h2 {
      font-size: 24px;
      font-weight: bold; }
    .single-content h3 {
      font-size: 22px;
      font-weight: bold; }
    .single-content .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .single-content .alignnone {
      clear: both; }
    .single-content .alignright {
      float: right; }
    .single-content .alignleft {
      float: left; }
  .single-relate-title {
    font-size: 20px;
    font-weight: bold;
    color: #f3762d;
    margin-top: 2rem; }
    @media (max-width: 992px) {
      .single-relate-title {
        margin-top: 2rem; } }
  .single-relate-item {
    font-size: 18px; }
    .single-relate-item a {
      text-decoration: none;
      color: #319450; }
    .single-relate-item a:hover {
      color: #f39def; }
  .single-latest-image-col {
    float: left; }
    @media (min-width: 1320px) {
      .single-latest-image-col {
        width: 33%; } }
    @media (max-width: 992px) {
      .single-latest-image-col {
        width: 100%; } }
  .single-latest-article-col {
    float: right;
    width: 67%; }
    @media (min-width: 1320px) {
      .single-latest-article-col {
        width: 67%; } }
    @media (max-width: 992px) {
      .single-latest-article-col {
        width: 100%; } }
    .single-latest-article-col img {
      margin: 0 1rem 1rem 1rem; }
      @media (max-width: 992px) {
        .single-latest-article-col img {
          margin: 1rem; } }
  .single-latest-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem; }
    .single-latest-title a {
      text-decoration: none;
      color: #f87d92; }
    @media (max-width: 992px) {
      .single-latest-title {
        margin-top: 2rem; } }
  .single-latest-image {
    height: 160px;
    width: 100%;
    border-radius: 0.2rem; }
    @media (max-width: 992px) {
      .single-latest-image {
        height: 200px;
        width: 100%;
        border-radius: 0.2rem; } }
    .single-latest-image:hover {
      transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -o-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1); }
  .single-latest-content {
    font-size: 15px;
    font-style: italic; }
  .single .fixed-sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    height: 450px;
    top: 120px;
    bottom: auto; }
    @media (max-width: 992px) {
      .single .fixed-sidebar {
        position: relative;
        top: auto; } }

.single-archive-list {
  border-radius: 0.3rem;
  box-shadow: rgba(61, 59, 59, 0.35) 0px 5px 5px;
  margin-bottom: 2rem; }
  @media (max-width: 992px) {
    .single-archive-list {
      margin-top: 2rem;
      margin-bottom: 1rem; } }
.single-archive-title {
  padding: 10px;
  border-radius: 0.3rem 0.3rem 0 0;
  border-bottom: 2px #e4e2e2 solid;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.226) 50%, rgba(156, 156, 156, 0.568) 95%); }
  .single-archive-title h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold; }
  .single-archive-title h2:hover {
    color: #f57d97; }
.single-archive-title-child {
  padding: 10px; }
  .single-archive-title-child h5 {
    font-size: 20px;
    font-weight: 100;
    color: #f5997d;
    margin-bottom: 4px; }
.single-archive-item {
  padding-bottom: 1rem;
  border-bottom: dotted 1px #999;
  transition-duration: 1s; }
  .single-archive-item a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-top: 3px;
    font-size: 16px; }

/*
  ========================================================  
 -------------------------- PAGE ------------------------
 ======================================================== 
*/
.temp-articles-bg {
  background-color: #faf8f8; }

/* multi - slider */
.multi-item {
  margin: 0.5rem 1rem 1rem 1rem;
  opacity: 0.7;
  transition-duration: 0.8s;
  border-radius: 0.5rem; }
  .multi-item::after, .multi-item::before {
    box-sizing: border-box; }

.slider-multi-head {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 50%, rgba(156, 156, 156, 0.568) 95%);
  border-radius: 0.3rem;
  font-size: 2.5rem; }
  @media (max-width: 992px) {
    .slider-multi-head {
      margin-top: 4.5rem; } }
  .slider-multi-head h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    text-shadow: 2px 2px 5px #797878; }
.slider-multi-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px; }
.slider-multi-item {
  margin-top: 10px; }
.slider-multi-img {
  margin: 3px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f7f7f7;
  border-radius: 2px; }
.slider-multi-title {
  padding-bottom: 1rem;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  font-weight: bold; }
  .slider-multi-title a {
    text-decoration: none; }
  .slider-multi-title a:hover {
    color: #eb6868; }
.slider-multi-content {
  text-align: left;
  font-size: 16px;
  padding: 0 10px 0 10px; }
.slider-multi-read-more {
  text-align: right;
  font-weight: bold; }
  .slider-multi-read-more a {
    text-decoration: none; }
  .slider-multi-read-more a:hover {
    color: #f5a237; }
.slider-multi-paginate {
  clear: both;
  position: relative;
  font-size: 16px;
  line-height: 13px;
  float: right;
  list-style-type: none;
  width: 100%; }
  .slider-multi-paginate span {
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto; }
    .slider-multi-paginate span a {
      color: #5dbfec; }

/* group table */
.group-border {
  display: block;
  border: 1px #CCC solid;
  margin: 15px 1px;
  padding: 0px 0px;
  border-radius: 3px;
  min-height: 300px; }
.group-title {
  background: #f2f6f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
  /* IE6-9 */
  border-radius: 3px 3px 0 0;
  width: 100%;
  min-height: 40px; }
  .group-title label {
    color: #92262b;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 2px 1px #FFF; }
  .group-title a {
    color: #92262b;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 2px 1px #FFF;
    text-decoration: none; }

/* member */
.member-head {
  width: 100%;
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f7f2f2;
  cursor: pointer; }
.member-head:hover {
  background-color: #f1f1f1; }
.member-title {
  position: absolute;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #7d8aff; }
  .member-title i {
    color: #999;
    margin-right: 10px; }
.member-icon {
  position: absolute;
  right: 5px; }
  .member-icon i {
    font-size: 18px;
    font-weight: bold; }
.member-content {
  width: 100%;
  display: none;
  background-color: #f1f6fc;
  border-bottom: 3px solid #d8d6d6; }
  .member-content label {
    font-size: 15px;
    color: #666;
    font-weight: 100;
    padding: 5px 0px 5px 10px; }
.member-img {
  width: 150px;
  height: 150px;
  padding: 10px 0px 5px 10px; }
.member-category-list {
  margin-bottom: 0px; }
  .member-category-list li {
    border-bottom: 1px #f4f4f4 solid;
    padding: 10px;
    display: block; }
    .member-category-list li a.member-category-item {
      font-size: 15px;
      width: 100%;
      text-decoration: none;
      color: #7d8aff;
      letter-spacing: 2px;
      font-weight: bold;
      display: block; }
    .member-category-list li a.member-category-item:hover {
      color: #eeb987; }
  .member-category-list li:nth-child(even) {
    background-color: #e2e5e7; }

/*
  ========================================================  
 -------------------------- SPECIAL ------------------------
 ======================================================== 
*/
.hr3 {
  margin-bottom: 10px;
  content: "";
  height: 5px;
  width: 100%;
  background: #0870b7;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%, #0870b7), color-stop(100%, #0870b7));
  background: -webkit-linear-gradient(left, transparent 0%, #0870b7 50%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, #0870b7 50%, transparent 100%);
  background: -ms-linear-gradient(left, transparent 0%, #0870b7 50%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, #0870b7 50%, transparent 100%);
  background: linear-gradient(left, transparent 0%, #0870b7 50%, transparent 100%); }

.hr2 {
  margin-bottom: 0;
  margin-top: 15px; }

#load-more {
  margin-top: 2rem;
  cursor: pointer;
  opacity: 0.7;
  text-align: center; }

/* Back to Top */
#back-top-wrapper {
  width: 100%;
  position: absolute;
  overflow: hidden; }

#back-top {
  position: fixed;
  bottom: 180px;
  right: 1%;
  /*margin-left:580px;*/
  display: block;
  cursor: pointer;
  font-size: 30px;
  color: #9c9898;
  opacity: 0.2;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top:hover {
  color: #bebbbb;
  opacity: 1; }

/*
  ========================================================  
 -------------------------- MENU ------------------------
 ======================================================== 
*/
#menu-computer {
  z-index: 10000;
  display: flex;
  flex-direction: row; }
  @media (max-width: 992px) {
    #menu-computer {
      display: none; } }

@keyframes show_nav_animation {
  0% {
    right: -100%; }
  100% {
    right: 0%; } }
@keyframes close_nav_animation {
  0% {
    right: 0%; }
  100% {
    right: -100%; } }
#menu-mobile {
  display: block;
  transition: top 0.3s;
  z-index: 100; }
  @media (min-width: 1320px) {
    #menu-mobile {
      display: none; } }
  @media (max-width: 992px) {
    #menu-mobile {
      display: block; } }
  #menu-mobile-icon {
    cursor: pointer;
    text-align: right;
    color: #9aaedb;
    margin-right: 1.5rem;
    font-size: 1.5rem; }
  #menu-mobile-content {
    position: absolute;
    z-index: 1000;
    right: -100%;
    width: 80%;
    background-color: #b1b1b1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0 0 0.5rem; }
    #menu-mobile-content #nav-mobile-menu .sf-mobile-menu {
      display: flex;
      flex-direction: column; }
      #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li.menu-item-has-children > a::after {
        font-family: FontAwesome;
        content: "\f0d7";
        padding-left: 1rem; }
      #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li {
        background-color: #9aaedb;
        border-bottom: 1px #a5c1e9 solid;
        margin-left: -2rem;
        list-style: none; }
        #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li a {
          text-decoration: none;
          color: #ffffff;
          font-weight: bold;
          text-align: left;
          display: block;
          padding: 1rem; }
        #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li:hover {
          background-color: #eff3f3; }
          #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li:hover a {
            color: #1b1b1b; }
        #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li .sub-menu {
          display: none;
          width: 100%; }
          #menu-mobile-content #nav-mobile-menu .sf-mobile-menu li .sub-menu li {
            background-color: #9aaedb; }
  #menu-mobile .show-nav {
    animation-name: show_nav_animation;
    animation-fill-mode: forwards;
    animation-duration: 1s; }
  #menu-mobile .close-nav {
    animation-name: close_nav_animation;
    animation-duration: 0.5s; }

/*
  ========================================================  
 -------------------------- SLIDER ------------------------
 ======================================================== 
*/
@media only screen and (max-device-width: 1920px) {
  .border_box {
    background-color: #fff;
    height: 500px; }

  .skitter {
    max-width: 100% !important;
    height: 500px !important; }

  .container_skitter .image_main {
    height: 500px !important; } }
@media only screen and (max-device-width: 1366px) {
  .border_box {
    background-color: #fff;
    height: 300px; }

  .skitter {
    max-width: 100% !important;
    height: 300px !important; }

  .container_skitter .image_main {
    height: 300px !important; } }
@media only screen and (max-device-width: 1280px) {
  .border_box {
    display: none; } }
.carousel {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 10px; }

.owl-carousel .nav-button {
  height: 20px;
  width: 20px;
  padding: 1px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
  color: #141414;
  background-color: #cec5c5; }

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25; }

/*owl slider*/
.owl-carousel .sli-left {
  left: -5px; }
.owl-carousel .sli-left:hover {
  background-position: 0px 53px; }
.owl-carousel .sli-right {
  right: -5px; }
.owl-carousel .sli-right:hover {
  background-position: 24px 53px; }

/*owl news*/
.owl-carousel .news-left {
  left: -5px; }
.owl-carousel .news-left:hover {
  background-position: 0px 53px; }
.owl-carousel .news-right {
  right: -5px; }
.owl-carousel .news-right:hover {
  background-position: 24px 53px; }

/*owl articles*/
.owl-carousel .art-left {
  left: -5px; }
.owl-carousel .art-left:hover {
  background-position: 0px 53px; }
.owl-carousel .art-right {
  right: -5px; }
.owl-carousel .art-right:hover {
  background-position: 24px 53px; }

/*
  ========================================================  
 -------------------------- HEADER ------------------------
 ======================================================== 
*/
#headers {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white; }
  @media (max-width: 992px) {
    #headers {
      display: none; } }
  #headers-logo {
    display: flex;
    margin-bottom: 10px; }
    #headers-logo div {
      padding-top: 1rem;
      font-size: 1.5rem;
      color: #2E3094;
      font-weight: bold;
      text-shadow: 0.6rem 0.6rem 0.37rem #999; }
    #headers-logo label {
      display: inline-block;
      margin-bottom: 0.5rem; }
  #headers .header-logo-img {
    width: 75px; }
  #headers .header-search {
    float: right;
    margin: 2rem; }
    @media (max-width: 992px) {
      #headers .header-search {
        float: right;
        margin: 1.5rem;
        width: 50%; } }

#header-mobile {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100; }
  @media (max-width: 1200x) {
    #header-mobile {
      display: none; } }
  @media (min-width: 1320px) {
    #header-mobile {
      display: none; } }
  @media (max-width: 992px) {
    #header-mobile {
      display: block; } }
  #header-mobile-logo {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row; }
    #header-mobile-logo img {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      width: 50px;
      height: 50px; }
    #header-mobile-logo div {
      margin-top: 0.2rem;
      color: #2E3094;
      font-weight: bold;
      text-shadow: 0.6rem 0.6rem 0.37rem #999; }
    @media (max-width: 992px) {
      #header-mobile-logo h4, #header-mobile-logo h5 {
        font-size: 10px;
        text-align: center; } }

/*
 ========================================================  
 ----------------------- FORM ---------------------
 ======================================================== 
 */
.title-row {
  padding-top: 15px; }
  .title-row h2 {
    font-size: 30px;
    font-weight: bold; }
.title-cell {
  padding-top: 15px; }
  .title-cell label {
    font-size: 18px;
    font-weight: bold;
    color: #f7b2a0;
    padding: auto;
    text-align: left; }
  .title-cell span {
    font-size: 20px;
    color: gray; }

.type, .text-cell .type-text, .text-cell .type-number, .text-cell .type-phone, .text-cell .type-email, .text-cell .type-number-dot {
  width: 50%;
  height: 40px;
  border-radius: 2px;
  box-shadow: 1px 2px #888888;
  border: 1px lavender solid; }

/* message*/
.error {
  font-size: 15px;
  color: #fd1515;
  margin-left: 10px; }
  .error ::after {
    content: "!"; }
  @media (max-width: 992px) {
    .error {
      font-size: 14px;
      margin-left: 1rem; } }

/* login form - change password */
.btn-type, .btn-login, .btn-logout, .btn-change-pass {
  font-size: 18px;
  padding: 7px;
  border-radius: 0.3rem;
  border: #fff solid 1px; }
.btn-login {
  background: #6ee47e;
  margin-left: 80%;
  width: 20%; }
  @media (max-width: 992px) {
    .btn-login {
      margin-left: 80%; } }
  .btn-login a {
    color: #f7f7f7;
    text-decoration: none; }
.btn-logout {
  background: #f1aa9d; }
  .btn-logout a {
    color: #f7f7f7;
    text-decoration: none; }
.btn-change-pass {
  background: #cdf19d; }
  .btn-change-pass a {
    color: #f7f7f7;
    text-decoration: none; }

.lbl-login {
  color: #337ab7;
  font-size: 30px;
  text-align: center; }
.lbl-form {
  color: #f7b2a0;
  font-size: 18px;
  padding-top: 1.1rem; }

.login-form {
  border: rgba(158, 151, 151, 0.89) solid 2px;
  border-radius: 2px;
  margin: 30px auto;
  padding: 10px;
  float: center;
  box-shadow: 5px 10px #888888; }
  @media (min-width: 1320px) {
    .login-form {
      width: 40%;
      min-height: 400px; } }
  @media (max-width: 992px) {
    .login-form {
      width: 90%;
      min-height: 580px;
      margin-top: 5rem; } }
  .login-form span {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    text-align: center; }

/* button disabled */
button:disabled,
.btn-disabled {
  border: 1px solid #999999;
  background-color: #cccccc; }
  button:disabled a,
  .btn-disabled a {
    color: #666666;
    text-decoration: none; }

/*
  ========================================================  
 -------------------------- FOOTER ------------------------
 ======================================================== 
*/
/* social link */
.social-link {
  font-size: 18px;
  font-weight: bold;
  padding: 4px; }
  .social-link:hover {
    color: #b6f59d; }

.footer {
  width: 100%;
  background-color: #413b77;
  color: #f7f1f1;
  background-position: center;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  padding: 2rem 1rem 0rem; }
  .footer .info label {
    font-size: 15px;
    font-weight: 300; }
  .footer .info h3 {
    font-size: 18px;
    font-weight: bold; }
  .footer .info a {
    font-size: 15px;
    text-decoration: none; }
  .footer .copyright {
    text-align: center;
    margin-right: 5px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px; }

/*# sourceMappingURL=main-style.css.map */
